[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "dottmux"]
	path = dottmux
	url = https://github.com/gpakosz/.tmux.git
[submodule ".zsh/themes/powerlevel9k"]
	path = .zsh/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf.git
