[user]
    name = zweicoder
    email = zweicoder@gmail.com
[core]
    autocrlf = input
    excludesfile = ~/.gitignore
    pager = diff-so-fancy | less -F -X
[push]
    default = simple
[color "diff"]
    old = red strike
    new = green italic
[alias]
    lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg = !"git lg1"
    lgall = lg1 --all
    st = status --short --branch
    cleanup = !"git branch --merged origin/master | grep  -v '\\*\\|master\\|develop' | xargs -i git branch -d {}"
    remote-cleanup-dryrun = !"git branch --remote --merged origin/master | grep  -v '\\*\\|master\\|develop' | sed 's$origin/$$'"
    remote-cleanup = !"git branch --remote --merged origin/master | grep  -v '\\*\\|master\\|develop' | sed 's$origin/$$' | xargs -i git push origin --delete {}"

