[submodule "/home/pewpew/.vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule ".vim/bundle/vim-autoformat"]
	path = .vim/bundle/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/bundle/vim-airline-themes"]
	path = .vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "/home/pewpew/.vim/bundle/vimagit"]
	path = .vim/bundle/vimagit
	url = https://github.com/jreybert/vimagit
[submodule ".vim/bundle/vim-elixir"]
	path = .vim/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule ".vim/bundle/undotree"]
	path = .vim/bundle/undotree
	url = https://github.com/mbbill/undotree.git
[submodule ".vim/bundle/vim-jsx"]
	path = .vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule ".vim/bundle/vim-winresizer"]
	path = .vim/bundle/vim-winresizer
	url = https://github.com/simeji/winresizer.git
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
