[submodule "/home/pewpew/.vim/bundle/vim-easymotion"]
	path = /home/pewpew/.vim/bundle/vim-easymotion
	url = git@github.com:easymotion/vim-easymotion.git
[submodule ".vim/bundle/vim-autoformat"]
	path = .vim/bundle/vim-autoformat
	url = git@github.com:Chiel92/vim-autoformat.git
